In [6]:
# 1
def listToString(s):
    string1= " "
    return (string1.join(s))
s=['sun','mon','tue']
print(listToString(s))

sun mon tue

In [9]:
# 2
d = {1:10,2:20}
key = int(input("Enter key to check:"))
if key in d.keys():
    print("True")
else:
    print("False")

Enter key to check:1
True

In [11]:
#3
def remove_duplicates(duplicate):
    final_list=[]
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
duplicate=[1,2,2,1,3,4]
print(remove_duplicates(duplicate))

[1, 2, 3, 4]

In [12]:
#4

#list1 = [8, 16, 20, 30, 80, 60]
#list2 = [list1 for n in range(list1) if '6' in list[list1] ]
#print(list2)

TypeError: 'list' object cannot be interpreted as an integer

In [13]:
5#
n=0
for i in range (1,500):
    if not i%5 or not i%3:
        n=n+i
print(n)

57918

In [17]:
#6
n = lambda x , y : x*y
print (n(15,10))

150

In [18]:
#7

In [21]:
#8

In [20]:
#9
import pandas as pd
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
users.head()
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213